<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.louis296.miaoshadao.mapper.UserMapper">
    <resultMap id="user" type="com.louis296.miaoshadao.dao.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName"/>
    </resultMap>

    <sql id="Column_List">
        id,user_name
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="user">
        select
        <include refid="Column_List"/>
        from user
        where id=#{uid}
    </select>
</mapper>